# Keywords

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

# Identifiers

In [4]:
!var=50

'var' is not recognized as an internal or external command,
operable program or batch file.

In [5]:
1var=20

SyntaxError: invalid syntax (<ipython-input-5-7c79c9efa2f7>, line 1)

In [6]:
val@=22

NameError: name 'val' is not defined

In [7]:
import=80

SyntaxError: invalid syntax (<ipython-input-7-4ee50e184975>, line 1)

In [8]:
val1=35

In [9]:
val_1=23

# Comments in python

In [11]:
#storing name
name='shivam'

In [12]:
#storing name
#in name variable
name='shivam'

In [13]:
'''
storing name
in name variable
'''
name='shivam'

In [14]:
"""
storing name
in name variable
"""
name='shivam'

# Statements

In [15]:
x=20+30 #Single Line statement
x

50

In [16]:
y=['a','b','c'] #Single Line statement
y

['a', 'b', 'c']

In [17]:
#Multiple Line statement
z=30+40 \
  +45+55 \
  +80
z

250

In [18]:
#Multiple Line statement
a=['a',
   'b',
   'c'
  ] 
a

['a', 'b', 'c']

# Indentation

In [19]:
x=50
if x==50: #Correct Indentation
    print("X is equals to 50")

X is equals to 50

In [21]:
x=50
if x==50: #InCorrect Indentation
print("X is equals to 50")

IndentationError: expected an indented block (<ipython-input-21-455871f1bf1e>, line 3)

In [23]:
x=50
if x==40: 
    print("X is equals to 40")
else:
    print('X is not equal to 50')

X is not equal to 50

In [24]:
for i in range(0,10):     #Correct Indentation
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for i in range(0,10):     #InCorrect Indentation
print(i)

IndentationError: expected an indented block (<ipython-input-26-083f91cebfdd>, line 2)

In [27]:
for i in range(0,10): print(i)     #Correct Indentation but less readable

0
1
2
3
4
5
6
7
8
9

In [28]:
x=50
for i in range(0,10):      #Correct Indentation
    print(i)
print(x)

0
1
2
3
4
5
6
7
8
9
50

# DocStrings

In [29]:
def square(num):
    '''square method :- it will return the square of the number'''
    return num**2

In [30]:
square(5)

25

In [31]:
square.__doc__ #Access the docstring using __doc__ method

'square method :- it will return the square of the number'

In [32]:
def oddeven(num):
    '''oddeven function:- Method will check whether the number is even or odd'''
    if num%2==0:
        print("Even Number")
    else:
        print("Odd Number")

In [33]:
oddeven(7)

Odd Number

In [34]:
oddeven(98)

Even Number

In [35]:
oddeven.__doc__

'oddeven function:- Method will check whether the number is even or odd'

# Variables

In [36]:
x=50

In [37]:
id(x)

140728289668416

In [38]:
hex(id(x)) #menory address

'0x7ffddbb72d40'

In [39]:
x=10
y=10
z=y

In [40]:
x,type(x),hex(id(x))

(10, int, '0x7ffddbb72840')

In [41]:
y,type(y),hex(id(y))

(10, int, '0x7ffddbb72840')

In [42]:
z,type(z),hex(id(z))

(10, int, '0x7ffddbb72840')

In [43]:
x=10
x=x+20 #variable overwriting
x

30

In [44]:
x,type(x),hex(id(x))

(30, int, '0x7ffddbb72ac0')

# Variable Assignment

In [45]:
num=10
petrol=108.57
strvar="Shivam"

print(num)
print(petrol)
print(strvar)

10
108.57
Shivam

In [46]:
type(num)

int

In [47]:
type(petrol)

float

In [48]:
type(strvar)

str

# Multiple Assignments

In [49]:
num,petrol,strvar=20,109.67,"hello"

In [50]:
print(num)
print(petrol)
print(strvar)

20
109.67
hello

In [51]:
x=y=z=30 #varaibles pointing to the same value
print(x)
print(y)
print(z)

30
30
30

# Data Types


# Numeric

In [53]:
import sys
val1=20
print(val1)
print(type(val1))
print(sys.getsizeof(val1))

20
<class 'int'>
28

In [54]:
val1=25+50j
print(val1)
print(type(val1))
print(sys.getsizeof(val1))

(25+50j)
<class 'complex'>
32

In [56]:
sys.getsizeof(float())

24

# Boolean

In [57]:
bool1=False

In [58]:
bool2=True

In [59]:
print(type(bool1))

<class 'bool'>

In [60]:
print(type(bool2))

<class 'bool'>

In [61]:
bool(0)

False

In [62]:
bool(1)

True

In [63]:
bool(True)

True

In [64]:
bool(False)

False

In [65]:
bool(None)

False

# Strings

In [66]:
str1="shivam"
print(str1)

shivam

In [67]:
str1='SmartBridge'
print(str1)

SmartBridge

In [69]:
str1="""SmartBridge
Team"""
print(str1)

SmartBridge
Team

In [70]:
str1="shivam"
print(str1)

shivam

In [71]:
len(str1)

6

# String Indexing

In [72]:
str1

'shivam'

In [73]:
str1[0]

's'

In [74]:
str1[5]

'm'

In [76]:
str1[len(str1)-1]

'm'

In [77]:
str1[-1]

'm'

In [78]:
str1[8]

IndexError: string index out of range

# String Slicing

In [79]:
str1[0:5]

'shiva'

In [81]:
str1="Hello Shivam"

In [82]:
str1[0:5]

'Hello'

In [83]:
str1[5:12]

' Shivam'

In [84]:
str1[-5]

'h'

In [86]:
str1[-5:]

'hivam'

In [87]:
str1[:5]

'Hello'

# Update & Delete String

In [88]:
str1

'Hello Shivam'

In [89]:
str1[0:5]="Hiiii"

TypeError: 'str' object does not support item assignment

In [90]:
del str1

In [91]:
print(str1)

NameError: name 'str1' is not defined

# String Concatenation

In [95]:
fname="Shivam"
lname="Shivhare"
Full_Name=fname+ " " +lname
print(Full_Name)

Shivam Shivhare

# Iterating String

In [96]:
str1="SHivam Shivhare"

In [97]:
for i in enumerate(str1):
    print(i)

(0, 'S')
(1, 'H')
(2, 'i')
(3, 'v')
(4, 'a')
(5, 'm')
(6, ' ')
(7, 'S')
(8, 'h')
(9, 'i')
(10, 'v')
(11, 'h')
(12, 'a')
(13, 'r')
(14, 'e')

In [98]:
for i in str1:
    print(i)

S
H
i
v
a
m

S
h
i
v
h
a
r
e

# String Partitioning

In [100]:
str1="Welcome to The SmartBridge Session I Hope you really enjoy!"
part=str1.partition("Session")
print(part)

('Welcome to The SmartBridge ', 'Session', ' I Hope you really enjoy!')

In [102]:
part[0]

'Welcome to The SmartBridge '

In [104]:
part[2]

' I Hope you really enjoy!'

# String Functions

In [105]:
str1="  Welcome Shivam  "

In [106]:
str1

'  Welcome Shivam  '

In [107]:
str1.strip()

'Welcome Shivam'

In [108]:
str1.rstrip()

'  Welcome Shivam'

In [109]:
str1.lstrip()

'Welcome Shivam  '

In [110]:
str1="Shivam"

In [111]:
str1.lower()

'shivam'

In [112]:
str1.upper()

'SHIVAM'

In [114]:
str1.replace("Shi","Sui")

'Suivam'

In [116]:
str1.count("Shivam")

1

In [118]:
#combining string & numbers using format method
num1=89
num2=55

out="Values of num1 & num2 are {} and {}"
print(out.format(num1,num2))

Values of num1 & num2 are 89 and 55

# List

In [119]:
list1=[]

In [121]:
print(type(list1))

<class 'list'>

In [122]:
list1=[5,8,9]

In [123]:
list1=[56.78,98.34,90.4]

In [124]:
list1=['Shivam','Prashant','Shrikant']

In [125]:
list1=['SHivam',45,['Shivam'],[56.8,90.6]]

In [126]:
list1=['shivam',27,10.5]

In [127]:
len(list1)

3

In [128]:
list1[0]

'shivam'

In [129]:
list1[-1]

10.5

In [130]:
list1=[2,4,6,8,9,21,34,45]
list1[0:3]

[2, 4, 6]

# ADD,Remove & Change Items

In [131]:
list1

[2, 4, 6, 8, 9, 21, 34, 45]

In [132]:
list1.append("shivam")

In [133]:
list1

[2, 4, 6, 8, 9, 21, 34, 45, 'shivam']

In [134]:
list1.insert(3,"Smartbridge")

In [135]:
list1

[2, 4, 6, 'Smartbridge', 8, 9, 21, 34, 45, 'shivam']

In [136]:
list1.remove(21)

In [137]:
list1

[2, 4, 6, 'Smartbridge', 8, 9, 34, 45, 'shivam']

In [138]:
list1.pop()

'shivam'

In [139]:
list1

[2, 4, 6, 'Smartbridge', 8, 9, 34, 45]

In [140]:
list1.pop(6)

34

In [141]:
list1

[2, 4, 6, 'Smartbridge', 8, 9, 45]

In [142]:
del list1[3]

In [143]:
list1

[2, 4, 6, 8, 9, 45]

# Copy List

In [144]:
list1

[2, 4, 6, 8, 9, 45]

In [145]:
list2=list1

In [146]:
list2

[2, 4, 6, 8, 9, 45]

In [147]:
hex(id(list1))

'0x23bc92f2340'

In [148]:
hex(id(list2))

'0x23bc92f2340'

In [151]:
list3= list1.copy()

In [152]:
list3

[2, 4, 6, 8, 9, 45]

# join list

In [153]:
list1=['shivam','shivhare']
list2=['smartbridge','hyderabad']

In [154]:
list3=list1+list2

In [155]:
list3

['shivam', 'shivhare', 'smartbridge', 'hyderabad']

# Reverse & Sort List

In [156]:
list1

['shivam', 'shivhare']

In [157]:
list1.reverse()

In [158]:
list1

['shivhare', 'shivam']

In [159]:
list3.reverse()

In [160]:
list3

['hyderabad', 'smartbridge', 'shivhare', 'shivam']

In [161]:
list1=[56.78,98.34,90.4]

In [162]:
list1.sort()

In [163]:
list1

[56.78, 90.4, 98.34]

# List Comprehension

In [164]:
str1='Shivam'

In [165]:
list1=[i for i in str1] 
list1

['S', 'h', 'i', 'v', 'a', 'm']

In [166]:
for i in str1:
    print(i)

S
h
i
v
a
m

In [167]:
list1=[i for i in range(30) if i%2==0]

In [168]:
list1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [169]:
list1=[i for i in range(30) if i%2==1]

In [170]:
list1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [173]:
list1=[i**2 for i in range(10)]

In [174]:
list1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [184]:
list1="one 1 two 2 three 3 four 4 five 5"
numbers=[i for i in list1 if i.isdigit()]
numbers

['1', '2', '3', '4', '5']

In [186]:
list1="one 1 two 2 three 3 four 4 five 5"
alpha=[i for i in list1 if i.isalpha()]
alpha

['o',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e']