# Tuples

# tuple creation

In [1]:
tup=()

In [2]:
type(tup)

tuple

In [3]:
tup=(1,4,5)

In [4]:
tup

(1, 4, 5)

In [5]:
tup=(1.3,4.5,5.8)

In [6]:
tup

(1.3, 4.5, 5.8)

In [7]:
type(tup)

tuple

In [8]:
tup=('shivam','shivhare')

In [9]:
tup

('shivam', 'shivhare')

In [10]:
tup=('shivam',32,67.5)

In [11]:
tup

('shivam', 32, 67.5)

In [12]:
len(tup)

3

# tuple indexing

In [13]:
tup[0]

'shivam'

In [14]:
tup[2]

67.5

In [15]:
tup[0][0]

's'

In [17]:
tup[-1]

67.5

# tuple slicing

In [18]:
tup=('shivam',1,2,4,'shivhare',59.8)

In [19]:
tup[0:3]

('shivam', 1, 2)

In [20]:
tup[:4]

('shivam', 1, 2, 4)

In [21]:
tup[-3:]

(4, 'shivhare', 59.8)

In [22]:
tup

('shivam', 1, 2, 4, 'shivhare', 59.8)

In [23]:
tup[:]

('shivam', 1, 2, 4, 'shivhare', 59.8)

# Remove & Change Items

In [24]:
tup

('shivam', 1, 2, 4, 'shivhare', 59.8)

In [25]:
del tup[0]

TypeError: 'tuple' object doesn't support item deletion

In [26]:
tup[0]='smartbridge'

TypeError: 'tuple' object does not support item assignment

In [27]:
del tup

In [28]:
tup

NameError: name 'tup' is not defined

# Index position

In [29]:
tup=('shivam',1,2,4,'shivhare',59.8)

In [30]:
tup.index('shivam')

0

In [31]:
tup.index(59.8)

5

# Sorting

In [32]:
tup=(23,39,21,4,78,45)

In [33]:
sorted(tup)

[4, 21, 23, 39, 45, 78]

# Sets

# set creation

In [34]:
set1={1,4,5,67,89}
set1

{1, 4, 5, 67, 89}

In [36]:
set1={1,4,4,67,5,67,89}
set1

{1, 4, 5, 67, 89}

In [37]:
set1={1,5,67.8,'shivam'}

In [38]:
set1

{1, 5, 67.8, 'shivam'}

In [39]:
type(set1)

set

In [40]:
set1={1,5,67.8,'shivam',[1,6,9]}

TypeError: unhashable type: 'list'

In [41]:
set1=set()

In [42]:
type(set1)

set

In [46]:
num=[1,3,4]

In [47]:
type(num)

list

In [48]:
set1=set(num)

In [49]:
set1

{1, 3, 4}

In [50]:
type(set1)

set

# Add & Remove Items

In [62]:
set1={1,5,67.8}

In [63]:
set1.add('shivhare')

In [64]:
set1

{1, 5, 67.8, 'shivhare'}

In [65]:
set1.update([34,98,'smartbridge'])

In [66]:
set1

{1, 34, 5, 67.8, 98, 'shivhare', 'smartbridge'}

In [67]:
set1.remove('shivhare')

In [68]:
set1

{1, 34, 5, 67.8, 98, 'smartbridge'}

# Set Operation

# Union

In [69]:
x={1,2,3,4,5}
y={4,5,6,7,8}
z={8,9,10}

In [70]:
x|y

{1, 2, 3, 4, 5, 6, 7, 8}

In [71]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7, 8}

# Intersection

In [72]:
x={1,2,3,4,5}
y={4,5,6,7,8}
z={8,9,10}

In [73]:
x & y

{4, 5}

In [74]:
x.intersection(y)

{4, 5}

# Dictionary

# create dictionary

In [75]:
mydict=dict()

In [76]:
type(mydict)

dict

In [77]:
mydict={}

In [78]:
type(mydict)

dict

In [79]:
mydict={1:'shivam',2:'shivhare',3:'bhopal'}

In [80]:
mydict

{1: 'shivam', 2: 'shivhare', 3: 'bhopal'}

In [81]:
mydict=dict({1:'shivam',2:'shivhare',3:'bhopal'})

In [82]:
mydict

{1: 'shivam', 2: 'shivhare', 3: 'bhopal'}

In [84]:
mydict={'fname':'shivam','lname':'shivhare','city':'bhopal'}

In [85]:
mydict

{'fname': 'shivam', 'lname': 'shivhare', 'city': 'bhopal'}

In [86]:
mydict.keys()

dict_keys(['fname', 'lname', 'city'])

In [87]:
mydict.values()

dict_values(['shivam', 'shivhare', 'bhopal'])

In [88]:
mydict.items()

dict_items([('fname', 'shivam'), ('lname', 'shivhare'), ('city', 'bhopal')])

In [89]:
keys={1,2,3,4}
mydict=dict.fromkeys(keys)

In [90]:
keys

{1, 2, 3, 4}

In [91]:
keys={1,2,3,4}
value=20
mydict=dict.fromkeys(keys,value)

In [92]:
mydict

{1: 20, 2: 20, 3: 20, 4: 20}

In [94]:
keys={1,2,3,4}
value=[20,67]
mydict=dict.fromkeys(keys,value)

In [95]:
value.append(30)

In [96]:
mydict

{1: [20, 67, 30], 2: [20, 67, 30], 3: [20, 67, 30], 4: [20, 67, 30]}

In [97]:
mydict[1]

[20, 67, 30]

In [99]:
mydict.get(1)

[20, 67, 30]

# Add,change & Remove Items

In [100]:
mydict

{1: [20, 67, 30], 2: [20, 67, 30], 3: [20, 67, 30], 4: [20, 67, 30]}

In [101]:
dict1={5:90}

In [102]:
mydict.update(dict1)

In [103]:
mydict

{1: [20, 67, 30], 2: [20, 67, 30], 3: [20, 67, 30], 4: [20, 67, 30], 5: 90}

In [107]:
mydict.popitem()

(4, [20, 67, 30])

In [108]:
mydict

{1: [20, 67, 30], 2: [20, 67, 30], 3: [20, 67, 30]}

In [109]:
del mydict

In [110]:
mydict

NameError: name 'mydict' is not defined

# Dictionary Comprehension

In [111]:
double={i:i*2 for i in range(10)}

In [112]:
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [113]:
double={i:i**2 for i in range(10)}

In [114]:
double

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Operators

# Arithmetic Operators

In [119]:
x=40
y=20

a='shivam'
b='shivhare'

In [120]:
#addition
c=x+y
print("Addition",c)

Addition 60

In [121]:
#Subtraction
c=x-y
print("Sub",c)

Sub 20

In [122]:
#Division
c=x/y
print("Div",c)

Div 2.0

In [123]:
#Multiplication
c=x*y
print("Mul",c)

Mul 800

In [126]:
#Modulo
x=40
y=30
c=x%y
c

10

In [127]:
#power
x=4
y=2
c=x**y

In [128]:
c

16

In [129]:
#floor
c=x//y
c

2

# Comparasion operators

In [130]:
x=20
y=30

In [131]:
x>y

False

In [132]:
x<y

True

In [133]:
x==y

False

In [135]:
x!=y

True

In [136]:
x>=y

False

In [137]:
x<=y

True

In [138]:
x='shivam'
y='prashant'
z='shivam'

In [139]:
x==y

False

In [140]:
x==z

True

In [141]:
x!=y

True

# logical operators

In [142]:
x=True
y=False

In [143]:
x and y

False

In [144]:
x or y

True

In [145]:
not x

False

In [146]:
not y

True

# Bitwise Operators

In [148]:
x=18 #10010
y=6  #00110

In [149]:
x&y

2

In [150]:
x|y

22

In [151]:
~x

-19

In [152]:
x>>2

4

In [153]:
x<<2

72

# Assignment Operators

In [154]:
x=20

In [155]:
x

20

In [156]:
x+=20 #x=x+20

In [157]:
x

40

In [158]:
x-=20
x

20

In [159]:
x/=10

In [160]:
x

2.0

In [161]:
x*=4

In [162]:
x

8.0

In [163]:
x%=2

In [164]:
x

0.0

In [167]:
int(x)

0

In [168]:
x=4

In [169]:
x&=2

In [170]:
x

0

# Functions

def functionName(parameters):
    //body of function
    return[expression]

In [171]:
def firstfunc():
    print("SHivam SHivahre")

In [172]:
firstfunc()

SHivam SHivahre

In [174]:
def userdetails(name,city,company):
    print("Name:- ",name)
    print("City:- ",city)
    print("Company:- ",company)
userdetails('shivam','bhopal','smartbridge')

Name:-  shivam
City:-  bhopal
Company:-  smartbridge

In [176]:
def even_odd(num):
    if num%2==0:
        print(num,"Even Number")
    else:
        print(num,"Odd Number")
        
even_odd(9)
even_odd(98)

9 Odd Number
98 Even Number

In [178]:
var=20
def func():
    print(var)
func()
print('variable',var)

20
variable 20

In [184]:
def func():
    var1=20
    print(var1)
def func1():
    print(var1)
func()

20

In [185]:
func1()

NameError: name 'var1' is not defined

In [187]:
list1=[29,90,87,45,89]

def myfunc(list1):
    del list1[0]
print("List before calling function",list1)
myfunc(list1)
print("List after calling function",list1)

List before calling function [29, 90, 87, 45, 89]
List after calling function [90, 87, 45, 89]

In [188]:
def factorial(num):
    if num<=1:
        return 1
    else:
        return num * factorial(num-1)
factorial(5)

120

In [ ]:
5*4*3*2*1=120

In [190]:
def fibonacci(num):
    if num<=1:
        return num
    if num ==2:
        return 1
    else:
        return(fibonacci(num-1) + fibonacci(num-2))

number=int(input("How many fibonacci series you want to generate:- "))

for i in range(number):
    print(fibonacci(i))

How many fibonacci series you want to generate:- 20
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [191]:
def add(a,b,c):
    return a+b+c
print(add(10,20,59))

89

# Lambda,Filter,Map & Reduce

# Syntax for lambda
lambda num1,num2:num1+num2

# Syntax for Filter
filter(lambda n:n%2==1,list1)

# Syntax for Map
map(lambda num:num*2,list1)

# Syntax fo Reduce
reduce(lambda a,b:a+b,list1)

In [192]:
add=lambda a:a+10
print(add(5))

15

In [193]:
mul=lambda a,b:a*b
print(mul(5,8))

40

In [194]:
list1=[1,2,3,4,5,6,7,8,9]

def odd(n):
    if n%2==1:
        return True
    else:
        return False
odd_num=list(filter(odd,list1))

In [195]:
odd_num

[1, 3, 5, 7, 9]

In [196]:
odd_num=list(filter(lambda n:n%2==1,list1))

In [197]:
odd_num

[1, 3, 5, 7, 9]

In [198]:
def twice(n):
    return n*2
doubles=list(map(twice,odd_num))
doubles

[2, 6, 10, 14, 18]

In [199]:
doubles=list(map(lambda n:n*2,odd_num))

In [200]:
doubles

[2, 6, 10, 14, 18]

In [201]:
from functools import reduce

def add(a,b):
    return a+b
sum1=reduce(add,doubles)

In [202]:
sum1

50

In [205]:
sum1=reduce(lambda a,b:a+b,doubles)

In [206]:
sum1

50